.panel.panel-info
  .panel-heading
    .panel-title Edit Property
  .panel-body
    = render partial: 'form'
    = link_to "Delete Property", @property, {:method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' }
